@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

.w-header-wrapper {
    width: 100%;
    background-color: white;

    /* sticky sidebar */
    /* position: sticky; */

    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.w-header-content {
    width: 90%;
    margin: auto;
    padding: 16px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.w-header-navbar-section {
    display: flex;
    justify-content: left;
    padding: 8px 0 0 0;
}

.radar-protocol-icon {
    width: 36px;
    height: 36px;
}

.w-header-navbar-item {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #999999;
    margin: 0 0 0 32px;
}

.w-header-navbar-item:hover {
    cursor: pointer;
}

.w-header-navbar-item-selected {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0 0 32px;
    border-bottom: 1px solid var(--primary-color);
    -webkit-background-clip: text;
}

.w-header-navbar-item-selected:hover {
    cursor: pointer;
}

.w-header-account-section {
    display: flex;
    justify-content: right;
    margin-right: 0;
    margin-left: auto;
    align-items: center;
}

.w-header-eth-button {
    background-color: #17171C;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}

.w-header-eth-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.w-header-eth-button-asset-section {
    display: flex;
    justify-content: left;
    margin: 0 12px 0 0;
}

.eth-icon {
    width: 24px;
    height: 24px;
}

.w-header-eth-button-asset-text {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #999999;
    margin: 0 0 0 8px;
}

.chevron-down-icon {
    width: 24px;
    height: 24px;
}

.chevron-down-icon.address {
    margin-top: 4px;
}

.w-header-connect-wallet-button {
    padding: 12px 20px;
    margin: 0 16px;
    border: none;
    border-radius: 12px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background: var(--button-color);
    color: white;
    text-align: center;
    line-height: 24px;
}

.w-header-connect-wallet-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.w-header-settings-button {
    background-color: #17171C;
    text-align: center;
}

.w-header-settings-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.activity-icon {
    width: 48px;
    height: 48px;
}

.w-header-address-button {
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 4px 4px;
    border: 0.5px solid #DCE0E2;
    border-radius: 12px;
    align-items: center;
}
img.ether-icon {
    width: 21px;
    height: 21px;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 10px;
    background: #f7f7f7;
}
.w-header-address-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.w-header-address-button-amount-button {
background-color: transparent;
    padding: 0 6px;
    border-radius: 10px;
}

.w-header-address-button-amount-button-text {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 4px;
}

.w-header-address-button-text {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #999999;
    text-align: center;
    margin: 5px 8px 0 8px;
}

.notification-layout {
    position: relative;
    margin: 0 30px;
}
.notification-layout .badge {
    position: absolute;
    top: 3px;;
    right: 0;
    color: white;
    background: red;
    font-size: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-layout .notification-icon {
    color: #222;
    font-size: 28px;
}

.header-profile-layout {
    display: flex;
    align-items: center;
    cursor: pointer
}

.header-profile-layout img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
}

.header-profile-layout .user-description {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.header-profile-layout .user-description .username {
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header-profile-layout .user-description .detail {
    color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
 }


 .header-profile-layout .user-expand {
     color: black;
     font-size: 8px;
     margin-left: 10px;
 }
 .title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: black;
 }
 .hightlight {
    color: #C96BE4;
 }
 .w-header-wrapper .title {
     margin: 0 0 0 10px; 
 }