@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

.w-home-page-wrapper {
  width: 100%;
  background-color: transparent;
  padding-top: 80px;
}

.w-home-page-content {
  width: 90%;
  margin: auto;
}

.w-home-box {
  border: 1px solid #020202;
  position: relative;
  height: 25rem;
}
.w-home-overlay {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: transparent;
  transform: translate(50%, 50%);
}
