@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

.w-fund-overview-wrapper {
  padding: 0;
  background: transparent;
}

.w-fund-overview-cards-content {
  display: flex;
  justify-content: space-between;
}

.w-fund-overview-card {
  width: 24%;
  background-color: transparent;
  padding: 16px;
}

.w-fund-overview-card:hover {
  cursor: pointer;
  opacity: 0.9;
}

.w-fund-overview-card-value {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.w-fund-overview-card-type {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #999;
}

.w-fund-overview-card-value-section {
  display: flex;
  justify-content: left;
}

.fund-overview-weth-icon {
  width: 38px;
  height: 38px;
  margin: 0 8px 0 0;
}

.w-fund-overview-statistics-wrapper {
  padding: 80px 0;
}

.w-fund-overview-statistics-content {
}

.w-fund-overview-statistics-title {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.w-fund-overview-statistics-navbar {
  display: flex;
  justify-content: left;
  margin: 20px 0 28px 0;
}

.w-fund-overview-statistics-navbar-item {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #999;
  padding: 8px 16px;
}

.w-fund-overview-statistics-navbar-item:hover {
  cursor: pointer;
  background: linear-gradient(to right, #e926c3 10%, #ff4d86 100%);
  -webkit-background-clip: text;
  webkittextfillcolor: transparent;
}

.w-overview-statistics-investments-wrapper {
  padding: 28px 0;
}

.w-investments-table-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.w-investments-table-cell {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #999;
}

.w-fund-overview-performance-wrapper {
  padding: 0 0 80px 0;
}

.w-fund-overview-performance-content {
}

.w-fund-overview-performance-title {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.w-fund-performance-table-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.w-fund-performance-table-header-item {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #999;
}

.year {
  width: 10%;
  text-align: left;
}

.month {
  width: 7.5%;
  text-align: center;
}

.w-fund-overview-performance-table {
  padding: 20px 0 80px 0;
}

.w-fund-performance-table-row {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 16px;
}

.w-fund-performance-table-row:hover {
  cursor: pointer;
  background-color: #17171c;
}

.w-fund-performance-table-row-cell {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.w-fund-composition-wrapper {
    background: white;
    padding: 20px;
}

/* .w-fund-composition-content {
} */

.w-fund-composition-title {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.w-fund-composition-table {
  padding: 0 0 0 0;
}

.w-fund-composition-table-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background: #F7F7F7;
}

.w-fund-composition-table-header-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */


  color: #636677;
}

.w-fund-composition-table-header-item.value {
  color: #636677 !important;
}

.asset {
  width: 50%;
}

.value,
.weight {
  width: 0;
  flex: 1;
}
.w-your-transactions-table-header-cell.value {
  width: 25%;
}

.weight {
  text-align: right;
}

.w-fund-composition-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
}

.w-fund-composition-table-row .value {
  color: #292A32 !important;
}

.w-fund-composition-table-row:hover {
  cursor: pointer;
  background-color: #eec0ec6b;
}

.w-fund-composition-table-row-cell {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #292A32;
}

.w-fund-composition-asset-bullet {
  width: 180px;
  background-color: #eca7ee62;
  border-radius: 10px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  margin-top: -4px;
}

.w-fund-composition-table-row:hover .w-fund-composition-asset-bullet {
  background-color: transparent;
}

.w-fund-composition-asset-bullet-text {
  margin: 0 0 0 8px;
  font-weight: bold;
}

.w-fund-overview-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.btn-layout {
  display: flex;
  align-items: content;
  width: fit-content;
  margin: 24px auto;
}
.btn-layout button {
  box-shadow: 0px 4px 15px rgba(230, 210, 253, 0.58);
  border-radius: 10px;
  height: 40px;
  width: 104px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: center;
  mix-blend-mode: normal;
}
.btn-layout button:hover {
  box-shadow: inset 0px 4px 15px rgba(230, 210, 253, 0.918);
}

.btn-withdraw {
  background-color: #C96AE4;
  color: white;
}

.btn-invest {
  color: #C96AE4;
  background-color: white;
  margin-right: 15px;
}

.w-fund-composition-asset-asset {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #292A32;
  background-color: #C96AE433;
  display: flex;
  border-radius: 8px;
  padding: 4px 8px;
  align-items: center;
}

@media(max-width: 768px) {
  .w-fund-composition-wrapper {
    padding: 8px; 
  }
  .w-fund-composition-table-header {
    padding: 4px 8px;
  }
  .asset {
    width: 30%;
  }
  .w-fund-composition-table-header-item {
    font-size: 12px;
  }
  .w-fund-composition-asset-bullet {
    width: 30%
  }
  .w-fund-composition-asset-asset {
    font-size: 10px;
  }
  .w-fund-composition-table-row-cell {
    font-size: 10px;
  }
  .btn-layout {
    margin: 12px auto;
  }
  .w-your-transactions-table-header-cell.value {
    flex: 0;
  }
}