@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

.w-fund-details-wrapper {
    padding: 0 0 80px 0;
}

.w-fund-details-content {
    
}

.w-fund-details-title {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.w-fund-details-navbar {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 28px 0;
}

.w-fund-details-navbar-item {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #999;
    padding: 8px 16px;
}

.w-fund-details-navbar-item:hover {
    cursor: pointer;
    background: linear-gradient(to right, #E926C3 10%, #FF4D86 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.w-fund-details-info-section {
    background-color: #070707;
    padding: 16px;
}

.w-fund-info-table {
    width: 60%;
}

@media(max-width: 1400px) {
    .w-fund-info-table {
        width: 90%;
    }
}

.w-fund-info-table-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

.w-fund-info-row-cell {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.type {
    color: #999;
    width: 40%;
}

.value {
    color: #fff;
    width: 60%;
}