@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

.w-add-new-fund-page-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    padding-top: 80px;
}

.w-add-new-fund-page-content {
    width: 70%;
    margin: auto;
}

.w-add-new-fund-page-title {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 40px 0;
}

.w-fund-review-header {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 0 0 8px 0;
}

.w-fund-review-info-box {
    background-color: transparent;
    padding: 0 16px;
    margin: 0 0 32px 0;
}

.w-fund-review-info-box-row {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.w-fund-review-info-type {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    width: 30%;
}

.w-fund-review-info-value {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    width: 70%;
}