.w-fund-rewards-wrapper {

}

.w-fund-rewards-header {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.w-rewards-table-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 16px 12px 16px;
}

.w-rewards-table-header-item {
    width: 25%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #999;
}

.w-rewards-table-row {
    display: flex;
    justify-content: space-between;
background-color: transparent;
    margin: 2px 0;
    padding: 16px;
}

.w-rewards-table-row-cell {
    width: 25%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.w-rewards-table-protocol-cell {
    padding: 4px;
    margin: 4px 4px 0 0;
    width: 85px;
    background-color: #17171C;
    border-radius: 10px;
    text-align: center;
}

.w-rewards-claimed {
    text-align: right;
}

.w-rewards-claim-button {
    float: right;
    position: relative;
    background: linear-gradient(90deg, #E926C3 0%, #FF4D86 97.5%);
    width: 70px;
    height: 40px;
    padding: 8px 12px;
    color: #020202;
    text-align: center;
}

.w-rewards-claim-button:hover {
    cursor: pointer;
    opacity: 0.9;
}