.wallet-not-connected-section {
    width: 100%;
    margin: auto;
}

.wallet-not-connected-text {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    background: linear-gradient(to right, #E926C3 10%, #FF4D86 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wallet-not-connected-text:hover {
    cursor: pointer;
}

.wallet-not-connected-text-grey {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    background: linear-gradient(to right, #999 10%, #999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}