.bn-onboard-custom .bn-onboard-modal-content {
    background-color: #070708 !important;
    color: white;
}

.bn-onboard-custom .bn-onboard-icon-button:hover {
    background-color: rgba(244,60,163,0.2) !important;
}