@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

.w-portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.w-portfolio-charts-menu {
    display: flex;
    justify-content: right;
    margin-top: 0;
}

.w-portfolio-charts-menu-item {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #5c5a5a;
    text-align: right;
    padding: 0 14px;
}

.w-portfolio-charts-menu-item:hover {
    cursor: pointer;
    opacity: 0.9;
}

.green-arrow-icon {
    width: 16px;
    height: 16px;
    margin: 2px 3px 0 8px;
}

.w-portfolio-header-subtitle-section {
    display: flex;
    justify-content: left;
}

.w-portfolio-header-title {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #000;
    text-align: left;
}

.w-portfolio-header-subtitle {
    text-align: left;
    margin-right: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 117% */


    /* text color */

    color: #545454;
}

.w-portfolio-header-subtitle-percent {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

.separator-icon {
    margin: 0 8px;
}

.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    background-color: transparent;
}

.Component-root-5 {
    stroke: #020202 !important;
}

.Component-root-6 {
    font-family: 'Bai Jamjuree', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    fill: rgb(97, 96, 96) !important;
    text-align: center !important;
}

.w-portfolio-wallet-not-connected-wrapper {
    margin-bottom: 120px;
}

.w-portfolio-wallet-not-connected-image {
    width: 100%;
    margin: auto;
}

.w-portfolio-wallet-not-connected-section {
    margin-top: -120px;
    z-index: 10;
}

.w-no-data-chart-wrapper {

}

.w-no-data-chart-content {
    padding: 120px 0;
}

.w-no-data-chart-img {
    width: 100%;
    margin: auto;
}

.w-no-data-chart-info {
    margin-top: -120px;
    z-index: 10;
    text-align: center;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    background: linear-gradient(to right, #E926C3 10%, #FF4D86 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.w-loading-chart-img {
    width: 8%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.fund-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.fund-header .avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}
.fund-header .fund-name {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    display: flex;
    align-items: center;

    /* UI / Text & Selection */

    color: #2A3135;
    margin-right: auto;
    margin-left: 19px;
    margin-bottom: 0;
}

.fund-header .twitter-icon-layout {
    margin-left: auto;
    background: white;
    box-shadow: 0px 4px 15px rgba(201, 107, 228, 0.29);
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fund-header .twitter-icon-layout span {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    /* identical to box height, or 250% */

    text-align: center;

    color: #03A9F4;
    font-size: 15px;
    mix-blend-mode: normal;
    display: flex;
    margin-right: 10px;
}

.fund-header .twitter-icon-layout i {
    background: #03A9F4;
    color: #03A9F4;
}

.w-portfolio-wrapper {
    background: white;
    padding: 20px;
}

@media(max-width: 768px) {
    .w-portfolio-wrapper {
        padding: 5px
    }
    .fund-header .fund-name {
        font-size: 16px;
    }
    .w-portfolio-header-subtitle {
        font-size: 12px;
        margin-right: 0;
    }
    .w-portfolio-header-title-section {
        width: 100%;
        justify-content: space-between;
    }
    .w-portfolio-header {
        display: flex;
        flex-direction: column;
    }
    .w-portfolio-header-subtitle-section {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .fund-header .twitter-icon-layout span {
        font-size: 12px;
    }
}